

/* Styling the jumbotron on the home page */

.jumbotron {
    margin-top: -20px;
    color: #317EAC;
}

/* Styling the hover effects of the buttons on home and search pages */

.homepage-hover:hover {
    background-color: #EEEEEE;

}

.hiddenButton {
    visibility: hidden;
}

.halfSize {
    width: 54%;
}


/* Styling the search results field */

#searchResults {
    min-height: 500px;
    border-right: 2px solid #EEEEEE;
    margin-right: -15px;
}

/* Styling the search page results and the collection information */

.list-group {
    margin-left: 10px;
}

.posterImages {
    height: 300px;
    width: 250px;
}

/* Styling the footer and header nav bars */


.navbar p {
    color: white;
}

.navbar-bottom {
    margin-bottom: -20px;
}

.navbar {
    border-radius: 0;
}


/* Styling the collection page */

.movieCollection {
    min-height: 525px;
}

.hiddenPanel {
    display: none;
}



/* Styling the last page when empty */

.randomMovie {
    min-height: 875px;
}

.hidden {
    visibility: hidden;
}


