/* add custom styles */
.jumbotron {
    margin-top: -20px;
    color: #317EAC;
}


#searchResults {
    min-height: 500px;
    border-right: 2px solid #EEEEEE;
    margin-right: -15px;
}


.navbar p {
    color: white;
}

.navbar-bottom {
    margin-bottom: -20px;
}

.navbar {
    border-radius: 0;
}


footer {
    position: relative;
    bottom: 0;
}